<!DOCTYPE html>
<html ng-app="skillMap">
<head>
    <title>Skill Map Builder</title>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/skill-map.js"></script>

</head>
<body ng-controller="SkillMapController">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Skill</th>
            <th class="text-center" ng-repeat="year in years">{{year}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="skill in skills">
        <tr>
            <td class="col-sm-4"><input type="text" class="form-control input-sm" placeholder="Skill title" ng-model="skill.title" ng-change="setInputFields ()"></td>
            <td ng-repeat="year in years"><input type="text" class="form-control input-sm text-center" placeholder="0" ng-model="skill.skillLevels[year-years[0]]" ng-change="setInputFields ()"/></td>
        </tr>
        <tr>
            <td colspan="{{years.length + 1}}">
                <h6 class="pull-left">Milestones:</h6>

                <div class="input-group col-sm-8 col-sm-offset-2" ng-repeat="milestone in skill.milestones">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle input-sm" data-toggle="dropdown">
                            <span ng-bind="milestone.year || 'Year'"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="year in years">
                                <a ng-click="milestone.year = year; setInputFields ()">{{year}}</a>
                            </li>
                        </ul>
                    </div>
                    <input type="text" class="form-control input-sm" maxlength="30" placeholder="Milestone description" ng-model="milestone.text" ng-change="setInputFields ()"/>
                </div>

            </td>
        </tr>
        </tbody>
        <tfoot><tr><td colspan="{{years.length + 1}}"></td></tr></tfoot>
    </table>

    <div class="col-sm-12">
        <textarea class="form-control" rows="5" ng-model="skillsJson" ng-change="reloadSkillsFromJson ()"></textarea>
    </div>

    <div class="row text-center">
        <button type="button" class="btn btn-primary" ng-click="regenerateSvgImage ()">Regenerate Image</button>
        <button type="button" class="btn btn-primary" ng-click="promptDownload ()">Download Image</button>
    </div>

    <div class="col-sm-12">
        <img id="results-image" src="test.svg" class="img-responsive img-thumbnail"/>
    </div>

</body>
</html>